appdirs
astroid
attrs
black
Click
Flask
Flask-Cors
flask-jwt==0.3.2
Flask-MySQL
Flask-MySQLdb
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mysqlclient
pathspec
PyJWT==1.4.2
pylint
PyMySQL
python-dotenv
regex
six
toml
typed-ast
werkzeug
wrapt
numpy
pillow